{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__CSS__/main.css?v1.4.0" media="all">
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!--头部搜索-->

            <!--列表-->
            <section class="panel panel-padding">
                <div class="layui-form">
                    <table id="example" class="layui-table jq-even" data-params='{"dataName":"article","key":"pid"}'>
                        <thead>
                        <tr>
                            <th class="txt-center">序号</th>
                            <th>上升的点位</th>
                            <th>下降的点位</th>
                            <th>类型</th>
                            <th width="80">状态</th>
                            <th width="90">操作</th>
                        </tr>
                        </thead>
                        <tbody id="list"></tbody>
                    </table>
                </div>

                <div class="text-right" id="page"></div>
            </section>
        </div>
    </div>
</div>
<div class="add-subcat">
    <form id="form1" class="layui-form" data-params='{"dataName":"article","key":"pid","bind":true,"pid":"pid"}'  method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">上升的点位</label>
            <div class="layui-input-block">
                <input type="text" name="rise_point" required jq-verify="required" jq-error="请输入点位" placeholder="请输入点位" autocomplete="off" class="layui-input ">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">下降的点位</label>
            <div class="layui-input-block">
                <input type="text" name="fill_point" required jq-verify="required" jq-error="请输入点位" placeholder="请输入点位" autocomplete="off" class="layui-input ">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="1" title="吃大赔小">
                <input type="radio" name="type" value="2" title="吃小赔大">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="开启">
                <input type="radio" name="status" value="2" title="不开启">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" jq-submit jq-filter="submit">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script id="list-tpl" type="text/html" data-params='{"url":"","pageid":"#page","dataName":"article"}'>
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td class="txt-center">{{ item.pid}}</td>
        <td>{{ item.rise_point}}</td>
        <td>{{ item.fill_point}}</td>
        <td>
            {{# if (item.type == 1) { }}
            吃大赔小
            {{# } else if (item.type == 2) { }}
            吃小赔大
            {{# } }}
        </td>
        <td>
            {{# if (item.status == 1) { }}
            开启
            {{# } else if (item.status == 2) { }}
            不开启
            {{# } }}
        </td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-mini modal" data-params='{"content": ".add-subcat","area":"450px,400px","title":"编辑","data":"pid={{ item.pid }}&id={{ item.pid }}","bind":"true","type":"1","action":"edit","url":"{:url("$classuri/edit")}"}'>
                    <i class="iconfont">&#xe653;</i>编辑
                </button>
            </div>
        </td>
    </tr>
    {{# }); }}
</script>
{include file="public/bottom"}
<script>
    layui.use('list');
</script>