{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__CSS__/main.css?v1.4.0" media="all">
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!--头部搜索-->
            <section class="panel panel-padding">
                <form class="layui-form" data-params='{"dataName":"article","action":"list"}' action="" method="get">
                    <div class="layui-form">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="user_phone" placeholder="客户手机号">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                        </div>
                    </div>
                </form>
            </section>

            <!--列表-->
            <section class="panel panel-padding">
                <div class="layui-form">
                    <table id="example" class="layui-table jq-even" data-params='{"dataName":"article","key":"mall_id"}'>
                        <thead>
                        <tr>
                            <th width="90" class="txt-center"><span class="order" data-params='{"field":"mall_id","sort":"asc"}'> 发行ID</span></th>
                            <th>管理员账户</th>
                            <th>客户昵称</th>
                            <th>客户真实名字</th>
                            <th>客户手机号</th>
                            <th>发行USDT数量</th>
                            <th>发行类型</th>
                            <th>发布时间</th>
                        </tr>
                        </thead>
                        <tbody id="list"></tbody>
                    </table>
                </div>

                <div class="text-right" id="page"></div>
            </section>
        </div>
    </div>
</div>
<script id="list-tpl" type="text/html" data-params='{"url":"","pageid":"#page","dataName":"article","key":"mall_id"}'>
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td class="txt-center">{{ item.id}}</td>
        <td>{{ item.admin_name}}</td>
        <td>{{ item.user_name}}</td>
        <td>{{ item.true_name}}</td>
        <td>{{ item.user_phone}}</td>
        <td>{{ item.usdt_num}}</td>
        <td>
            {{# if (item.type == 1) { }}
            增加
            {{# }else if (item.type == 2) { }}
            减少
            {{# } }}
        </td>
        <td>{{ item.add_time}}</td>
    </tr>
    {{# }); }}
</script>
{include file="public/bottom"}
<script>
    layui.use('list');
</script>