{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__CSS__/main.css?v1.4.0" media="all">
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!--头部搜索-->
            <section class="panel panel-padding">
                <form class="layui-form"  data-params='{"dataName":"member","key":"id","action":"list"}' method="get" action="{:url("$classuri/index")}">
                <div class="layui-form">

                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input class="layui-input" name="true_name" placeholder="用户名">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input class="layui-input" name="user_phone" placeholder="手机号">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <select name="role_id">
                                <option value=""></option>
                                <option value="0">普通用户</option>
                                <option value="1">业务员</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                    </div>
                </div>
                </form>
            </section>

            <!--列表-->
            <section class="panel panel-padding">
                <div class="layui-form">
                    <table id="example" class="layui-table jq-even" data-params='{"dataName":"member","key":"id"}'>
                        <thead>
                        <tr>
                            <th width="80"><span class="order" data-params='{"field":"id","sort":"asc"}'>序号</span></th>

                            <th>用户昵称</th>
                            <th>真实名字</th>
                            <th>手机号</th>
                            <th>身份证号码</th>
                            <th>邀请人</th>
                            <th>USDT余额</th>
                            <th>商家保证金</th>
                            <th>身份证图片1</th>
                            <th>身份证图片2</th>
                            <th>身份证图片3</th>
                            <th>认证状态</th>
                            <th>高级认证状态</th>
                            <th>是否是业务员</th>
                            <th>商家认证</th>
                            <th width="180">操作</th>
                        </tr>
                        </thead>
                        <tbody id="list"></tbody>
                    </table>
                </div>

                <div class="text-right" id="page"></div>
            </section>
        </div>
    </div>
</div>
<div class="add-subcat">
    <form id="form1" class="layui-form" data-params='{"dataName":"member","key":"user_id","bind":true,"pid":"pid"}'  method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">审核理由</label>
            <div class="layui-input-block">
                <!--<input type="text" name="business_msg" value="{$vo.examine_msg|default=''}" autocomplete="off" class="layui-input " style="width:600px">-->
                <input type="text" name="business_msg" required jq-verify="required" jq-error="请输入理由" placeholder="请输入理由" autocomplete="off" class="layui-input ">
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" jq-submit jq-filter="submit">不通过</button>
            </div>
        </div>
    </form>
</div>
<script id="list-tpl" type="text/html" data-params='{"url":"","dataName":"member","pageid":"#page"}'>
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td>{{ item.user_id}}</td>
        <td>{{ item.user_name}}</td>
        <td>{{ item.true_name}}</td>
        <td>{{ item.user_phone }}</td>
        <td>{{ item.card_num}}</td>
        <td>{{ item.invite_name}}</td>
        <td>{{ item.dw_usdt }}</td>
        <td>{{ item.business_usdt }}</td>

        <td> <img src="{{ item.img1 }}" style="width:40px;height:40px;" onclick="openImage('{{ item.img1 }}')" alt="..." class="img-thumbnail" style="cursor: pointer;max-height: 100%"></td>
        <td> <img src="{{ item.img2 }}" style="width:40px;height:40px;"onclick="openImage('{{ item.img2 }}')" alt="..." class="img-thumbnail" style="cursor: pointer;max-height: 100%"></td>
        <td> <img src="{{ item.img3 }}" style="width:40px;height:40px;"onclick="openImage('{{ item.img3 }}')" alt="..." class="img-thumbnail" style="cursor: pointer;max-height: 100%"></td>
        <td>
            {{#if (item.is_attestation == 0){ }}
            未上传认证
            {{# }else{ }}
            已认证
            {{# } }}
        </td>
        <td>
            {{#if (item.is_examine == 0){ }}
            未上传认证
            {{# }else if(item.is_examine == 1){ }}
            已认证
            {{# }else if(item.is_examine == 2){ }}
            待审核
            {{# }else if(item.is_examine == 3){ }}
            认证不通过
            {{# } }}
        </td>
        <td>
            {{#if (item.role_id == 0){ }}
            否
            {{# }else if(item.role_id == 1){ }}
            是
            {{# } }}
        </td>
        <td>
            {{# if(item.is_business == 1){ }}
            已认证
            {{# }else if(item.is_business == 2){ }}
            待审核
            {{# }else if(item.is_business == 3){ }}
            不通过
            {{# } }}
        </td>
        <td>
            <div class="layui-btn-group">
                {{#if (item.is_business == 2){ }}
                <button class="layui-btn layui-btn-mini layui-btn-normal ajax" data-params='{"url": "{:url("$classuri/setstatus")}","action":"setstatus","data":"id={{ item.user_id }}&status=1","method":"post","confirm":"true"}'>
                    <i class="layui-icon">&#x1005;</i>通过
                </button>
                <button class="layui-btn layui-btn-mini modal" data-params='{"content": ".add-subcat","area":"800px,400px","title":"编辑","data":"id={{ item.user_id }}","bind":"true","type":"1","action":"edit","url":"{:url("$classuri/edit")}"}'>
                    <i class="iconfont">&#xe653;</i>不通过
                </button>
                {{# } }}
            </div>
        </td>
    </tr>
    {{# }); }}
</script>
{include file="public/bottom"}
<script>
    layui.use('list');
</script>
<style>
    .custom-pop-shade{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5000;
        background-color: #000;
        opacity: 0.3;
    }
    .custom-pop-master{
        z-index: 6000;
        position: fixed;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);;
        max-width: 100%;
        background: #fff;
        max-height: calc(100% - 90px);
        display: flex;
        flex-direction:column;
    }
    .custom-pop-content{
        padding: 20px;
        max-height: calc(100% - 90px);
        overflow: auto;
    }
</style>
<script src="/static/js/jquery-1.9.0.js"></script>
<script>
    // 放大显示图片
    function openImage(url) {
        var shade = $('<div class="custom-pop-shade"></div>');
        var pop = $('<div class="custom-pop-master">' +
            '<div class="layui-layer-title" style="flex-shrink: 0">身份认证' +
            '<span class="layui-layer-setwin"><a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a></span></div>' +
            '<div class="custom-pop-content"><img src='+url+'></div>' +
            '</div>');
        $(document.body).append(shade).append(pop);
        $(pop.find('.layui-layer-close')[0]).on('click',function () {
            shade.remove()
            pop.remove()
        })
    }
</script>