{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__CSS__/main.css?v1.4.0" media="all">
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!--头部搜索-->
            <section class="panel panel-padding">
                <form class="layui-form"  data-params='{"dataName":"member","key":"id","action":"list"}' method="get" action="{:url("$classuri/index")}">
                <div class="layui-form">

                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input class="layui-input" name="true_name" placeholder="用户名">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input class="layui-input" name="user_phone" placeholder="手机号">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <select name="role_id">
                                <option value=""></option>
                                <option value="0">普通用户</option>
                                <option value="1">业务员</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                    </div>
                </div>
                </form>
            </section>

            <!--列表-->
            <section class="panel panel-padding">
                <div class="layui-form">
                    <table id="example" class="layui-table jq-even" data-params='{"dataName":"member","key":"id"}'>
                        <thead>
                        <tr>
                            <th width="80"><span class="order" data-params='{"field":"id","sort":"asc"}'>序号</span></th>

                            <th>用户昵称</th>
                            <th>真实名字</th>
                            <th>手机号</th>
                            <th>邀请码</th>
                            <th>邀请人</th>
                            <th>USDT余额</th>
                            <th>商家保证金</th>
                            <th>注册时间</th>
                            <th>认证状态</th>
                            <th>高级认证状态</th>
                            <th>是否是业务员</th>
                            <th>商家认证</th>
                            <th width="180">操作</th>
                        </tr>
                        </thead>
                        <tbody id="list"></tbody>
                    </table>
                </div>

                <div class="text-right" id="page"></div>
            </section>
        </div>
    </div>
</div>

<script id="list-tpl" type="text/html" data-params='{"url":"","dataName":"member","pageid":"#page"}'>
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td>{{ item.user_id}}</td>
        <td>{{ item.user_name}}</td>
        <td>{{ item.true_name}}</td>
        <td>{{ item.user_phone }}</td>
        <td>{{ item.invite_code}}</td>
        <td>{{ item.invite_name}}</td>
        <td>{{ item.dw_usdt }}</td>
        <td>{{ item.business_usdt }}</td>
        <td>{{ item.add_time }}</td>
        <td>
            {{#if (item.is_attestation == 0){ }}
            未上传认证
            {{# }else{ }}
            已认证
            {{# } }}
        </td>
        <td>
            {{#if (item.is_examine == 0){ }}
            未上传认证
            {{# }else if(item.is_examine == 1){ }}
            已认证
            {{# }else if(item.is_examine == 2){ }}
            待审核
            {{# }else if(item.is_examine == 3){ }}
            认证不通过
            {{# } }}
        </td>
        <td>
            {{#if (item.role_id == 0){ }}
            否
            {{# }else if(item.role_id == 1){ }}
            是
            {{# } }}
        </td>
        <td>
            {{# if(item.is_business == 1){ }}
            已认证
            {{# }else if(item.is_business == 2){ }}
            待审核
            {{# }else if(item.is_business == 3){ }}
            不通过
            {{# } }}
        </td>
        <td>
            <div class="layui-btn-group">
                {{#if (item.is_business == 2){ }}
                <button class="layui-btn layui-btn-mini layui-btn-normal ajax" data-params='{"url": "{:url("$classuri/setstatus")}","action":"setstatus","data":"id={{ item.user_id }}&status=1","method":"post","confirm":"true"}'>
                    <i class="layui-icon">&#x1005;</i>通过
                </button>
                <button class="layui-btn layui-btn-mini layui-btn-danger ajax" data-params='{"url": "{:url("$classuri/setstatus")}","action":"setstatus","data":"id={{ item.user_id }}&status=3","method":"post","confirm":"true"}'>
                    <i class="iconfont">&#xe626;</i>不通过
                </button>
                {{# } }}
            </div>
        </td>
    </tr>
    {{# }); }}
</script>
{include file="public/bottom"}
<script>
    layui.use('list');
</script>