{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__CSS__/main.css?v1.4.0" media="all">
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!--头部搜索-->
            <section class="panel panel-padding">
                <form class="layui-form" data-params='{"dataName":"article","action":"list"}' action="" method="get">
                    <div class="layui-form">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="user_name" placeholder="用户名称">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                        </div>
                    </div>
                </form>
            </section>

            <!--列表-->
            <section class="panel panel-padding">
                <div class="group-button">
                    <button class="layui-btn layui-btn-small layui-btn-danger ajax-all" data-params='{"url": "{:url("$classuri/del")}","data":"field=delete","method":"post","confirm":"true","dataName":"article","key":"log_id","action":"del"}'>
                        <i class="iconfont">&#xe626;</i> 删除
                    </button>
                </div>

                <div class="layui-form">
                    <table id="example" class="layui-table jq-even" data-params='{"dataName":"article","key":"log_id"}'>
                        <thead>
                        <tr>
                            <th width="30"><input type="checkbox" id="checkall" data-name="log_id" lay-filter="check" lay-skin="primary"></th>
                            <th width="70" class="txt-center"><span class="order" data-params='{"field":"id","sort":"asc"}'> 序号</span></th>
                            <th>用户名</th>
                            <th>类型</th>
                            <th>交易说明</th>
                            <th>交易USDT数量</th>
                            <th>账户余额</th>
                            <th>交易时间</th>
                            <th width="130">操作</th>
                        </tr>
                        </thead>
                        <tbody id="list"></tbody>
                    </table>
                </div>

                <div class="text-right" id="page"></div>
            </section>
        </div>
    </div>
</div>
</body>
<script id="list-tpl" type="text/html" data-params='{"url":"","pageid":"#page","dataName":"article"}'>
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td><input type="checkbox" name="log_id" value="{{ item.log_id}}" lay-skin="primary"></td>
        <td class="txt-center">{{ item.log_id}}</td>
        <td>{{ item.user_name}}</td>
        <td>
            {{#if (item.type == 1){ }}
            支出
            {{# }else{ }}
            收入
            {{# } }}
        </td>
        <td>{{ item.log_content}}</td>
        <td>{{ item.chance_usdt}}</td>
        <td>{{ item.dw_usdt}}</td>
        <td>{{ item.add_time }}</td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-mini layui-btn-danger ajax" data-params='{"url": "{:url("$classuri/del")}","action":"del","data":"log_id={{ item.log_id }}&field=delete","method":"post","confirm":"true"}'>
                    <i class="iconfont">&#xe626;</i>删除
                </button>
            </div>
        </td>
    </tr>
    {{# }); }}
</script>
{include file="public/bottom"}
<script>
    layui.use('list');
    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    if(index){
        parent.layer.close(index);
    }
</script>