{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__CSS__/main.css?v1.4.0" media="all">
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!--头部搜索-->
            <section class="panel panel-padding">
                <form class="layui-form" data-params='{"dataName":"article","action":"list"}' action="" method="get">
                    <div class="layui-form">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="user_name" placeholder="用户名称">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="user_phone" placeholder="手机号">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                        </div>
                    </div>
                </form>
            </section>

            <!--列表-->
            <section class="panel panel-padding">
                <!--<div class="group-button">-->
                    <!--<button class="layui-btn layui-btn-small layui-btn-danger ajax-all" data-params='{"url": "{:url("$classuri/del")}","data":"field=delete","method":"post","confirm":"true","dataName":"article","key":"log_id","action":"del"}'>-->
                        <!--<i class="iconfont">&#xe626;</i> 删除-->
                    <!--</button>-->
                <!--</div>-->

                <div class="layui-form">
                    <table id="example" class="layui-table jq-even" data-params='{"dataName":"article","key":"log_id"}'>
                        <thead>
                        <tr>
                            <!--<th width="30"><input type="checkbox" id="checkall" data-name="log_id" lay-filter="check" lay-skin="primary"></th>-->
                            <th width="70" class="txt-center"><span class="order" data-params='{"field":"order_id","sort":"desc"}'> 序号</span></th>
                            <th>用户名</th>
                            <th>类型</th>
                            <th>购买的手数</th>
                            <th>购买的点位</th>
                            <th>下注金额</th>
                            <th>入仓价格</th>
                            <th>是否中奖</th>
                            <th>中奖的金额</th>
                            <th>交易USDT数量</th>
                            <th>手续费用</th>
                            <th>幸运数</th>
                            <th>幸运奖金</th>
                            <th>下单时间</th>
                            <th>结算时间</th>
                            <!--<th width="130">操作</th>-->
                        </tr>
                        </thead>
                        <tbody id="list"></tbody>
                    </table>
                </div>

                <div class="text-right" id="page"></div>
            </section>
        </div>
    </div>
</div>
</body>
<script id="list-tpl" type="text/html" data-params='{"url":"","pageid":"#page","dataName":"article"}'>
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <!--<td><input type="checkbox" name="log_id" value="{{ item.order_id}}" lay-skin="primary"></td>-->
        <td class="txt-center">{{ item.order_id}}</td>
        <td>{{ item.user_name}}</td>
        <td>
            {{# if (item.style == 1){ }}
           涨
            {{# }else{ }}
            跌
            {{# } }}
        </td>
        <td>{{ item.buy_quiz}}</td>
        <td>{{ item.btc_point}}</td>
        <td>{{ item.usdt_fee}}</td>
        <td>{{ item.buy_price}}</td>
        <td>
            {{# if (item.is_win == 0) { }}
           未开奖
            {{# }else if (item.is_win == 1) { }}
            中奖
            {{# }else if (item.is_win == 2) { }}
            未中奖
            {{# }else if (item.is_win == 3) { }}
           无效订单
            {{# } }}
        </td>
        </td>
        <td>{{ item.btc_point}}</td>
        <td>{{ item.win_price}}</td>
        <td>{{ item.sx_fee}}</td>
        <td>{{ item.lucky_number}}</td>
        <td>{{ item.lucky_usdt}}</td>
        <td>{{ item.add_time}}</td>
        <td>{{ item.end_time }}</td>
        <!--<td>-->
            <!--<div class="layui-btn-group">-->
                <!--<button class="layui-btn layui-btn-mini layui-btn-danger ajax" data-params='{"url": "{:url("$classuri/del")}","action":"del","data":"log_id={{ item.log_id }}&field=delete","method":"post","confirm":"true"}'>-->
                    <!--<i class="iconfont">&#xe626;</i>删除-->
                <!--</button>-->
            <!--</div>-->
        <!--</td>-->
    </tr>
    {{# }); }}
</script>
{include file="public/bottom"}
<script>
    layui.use('list');
    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    if(index){
        parent.layer.close(index);
    }
</script>